<?xml version='1.0' encoding='utf-8'?>
<plugin id="construct-mobile-rate" version="0.4.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RateApp</name>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="RateApp">
                <param name="android-package" value="com.scirra.rateapp.RateApp" />
            </feature>
        </config-file>
        <source-file src="src/android/RateApp.java" target-dir="src/com/scirra/rateapp" />
    </platform>
    <platform name="ios">
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
        <config-file target="config.xml" parent="/*">
            <feature name="RateApp">
                <param name="ios-package" value="RateApp" />
            </feature>
        </config-file>
        <source-file src="src/ios/RateApp.swift" />
    </platform>
    <js-module name="RateApp" src="www/RateApp.js">
        <clobbers target="cordova.plugins.RateApp" />
    </js-module>
</plugin>